body{
	background-image: url(WIN_20230424_05_51_49_Pro.jpg);
}
h1{
	font-family:algerian;
	font-size: 34px; 
	font-color:red;
}
p{
	font-color:blue;
}
h3{
	font-family:algerian;
	font-size: 34px; 
	font-color:green;
}green{
	font-family:algerian;
	font-size: 34px; 
	font-color:green;
}